<table cellspacing="0" id="results_table">
  <tbody>
    <tr class="results_header">
      <td class="border_top_left">Name</td>
      <td>Description</td>
      <td>By</td>
      <td>Date/Time</td>
      <td>Duration</td>
      <td>Result</td>
      <td>Attributes</td>
      <td class="border_top_right">From</td>
    </tr>
    <tr>
      <td class="name">Biggest Spenders</td>
      <td class="description">the top 1% of customers by average yearly expenditures</td>
      <td class="by"><%= image_tag("pro_circle.png", width: '40') %></td>
      <td class="date_time">Yesterday 7:31 pm</td>
      <td class="duration">5 mins</td>
      <td class="result">3,134 rows</td>
      <td class="attributes">Customer ID, <i>Product, Date...</i></td>
      <td class="from">+ Products, Prices</td>
    </tr>
    <tr>
      <td class="name">Most Popular Items</td>
      <td class="description">the 200 items purchased the most times in the past year</td>
      <td class="by"><%= image_tag("pro_circle.png", width: '40') %></td>
      <td class="date_time">Yesterday 4:40 pm</td>
      <td class="duration">2 mins</td>
      <td class="result">200 rows</td>
      <td class="attributes">Product, <i>Quantity, Date...</i></td>
      <td class="from">—</td>
    </tr>
    <tr>
      <td class="name">Least Popular Items</td>
      <td class="description">the 200 items pruchased the least often in the past year</td>
      <td class="by"><%= image_tag("pro_circle.png", width: '40') %></td>
      <td class="date_time">Yesterday 1:15 pm</td>
      <td class="duration">2 mins</td>
      <td class="result">200 rows</td>
      <td class="attributes">Product, <i>Quantity, Date...</i></td>
      <td class="from">—</td>
    </tr>
    <tr>
      <td class="name">Seasonal Goods</td>
      <td class="description">items which are purchased 5+ times as often in Nov/Dec then...</td>
      <td class="by"><%= image_tag("pro_circle.png", width: '40') %></td>
      <td class="date_time">Yesterday 10:51 am</td>
      <td class="duration">15 mins</td>
      <td class="result">128 rows</td>
      <td class="attributes">Product, <i>Quantity, Date...</i></td>
      <td class="from">—</td>
    </tr>
  </tbody>

</table>